<app-loader *ngIf="loadingService.loading$ | async"></app-loader>

<div class="sm:max-w-screen-md md:max-w-full mx-auto">
  <header class="text-center pb-[14rem] md:pb-[26rem] px-4 md:px-8 relative bg-secondary bg-[url('/assets/images/header-pattern.svg')] bg-cover bg-bottom bg-no-repeat">
    <div class="container mx-auto py-16 md:py-24 md:px-20">
      <!-- Small screens title -->
      <span class="text-primary text-sm bg-secondary bg-blend-multiply rounded-2xl px-2.5 py-0.5 font-medium md:hidden">Pricing plans</span>

      <!-- Large screens title -->
      <p class="text-primary text-sm bg-secondary bg-blend-multiply rounded-2xl px-3 py-1 font-medium hidden md:block">Our blog</p>

      <h1 class="text-4xl font-semibold text-primary2 mt-4">Resources and insights</h1>
      <p class="text-lg text-primary pt-4 md:pt-6">
        The latest industry news, interviews, technologies, and resources.
      </p>
      
      <div class="relative w-full max-w-sm mt-8 md:pt-10 mx-auto">
        <img src="assets/images/search-icon.svg" 
             class="absolute left-3 top-1/2 -translate-y-1/2 h-5 w-5" 
             alt="Search Icon" />
        <input type="text" placeholder="Search..." 
               class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200 focus:border-blue-500" />
      </div>
    </div>
  </header>

  <div class="relative container mx-auto pb-16 px-4 md:px-8 -mt-40 md:-mt-80 z-10">
    <app-error *ngIf="error" [message]="error" (retry)="fetchPosts()"></app-error>

    <app-blog-list [posts]="posts"></app-blog-list>
  
    <app-pagination
      *ngIf="posts.length && hasMorePosts"
      (loadMore)="fetchPosts()">
    </app-pagination>
  </div>
</div>
